

#category-nav, #categories h2 {
text-transform: capitalize;
}

#category-nav li img {
    -webkit-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out
}

#category-nav li img:hover {
	opacity: .3;
}

#categories li a {
    text-decoration: none;
}

.entity-details section {
padding: .5em;
margin: .5em 0em .5em 1em;
background-color: #eee;
border: 1px solid #eee;
border-radius: 4px;
}