
#category-nav, #categories h2 {
	text-transform: capitalize;
}
#categories h2, h4, h6 {
	font-family: 'Oswald', sans-serif;
}
#category-nav li {
padding: 1px;
}
#category-nav li img:hover {
	opacity: .3;
	padding: 0px;
	margin: 0px;
	-webkit-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
}
#categories li a {
    text-decoration: none;
}
.entity-details section {
padding: .5em;
margin: .5em 0em .5em 1em;
background-color: #eee;
border: 1px solid #eee;
border-radius: 4px;
}

