
#category-nav, #categories h2 {
text-transform: capitalize;
}

.list-inline>li {
display: inline-block;
padding-right: 5px;
padding-left: 0px;
margin-top: 5px;
}

.entity-details section {
padding: .5em;
margin: .5em 0em .5em 1em;
background-color: #eee;
border: 1px solid #eee;
border-radius: 4px;
}