<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Koch Network</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="css/style.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>

</head>

<body>

    <div class="container">

        <section class="row">
            <!-- Category nav -->
            <ul id="category-nav" class="list-unstyled list-inline center-block"></ul>
        </section>

        <!-- Category list -->
        <section id="categories" class="row"></section>

        <footer><span>Additional research by Sam Brodey and Katie Rose Quandt</span>


        <!-- Category nav template -->
        <script type="text/template" id="category-nav-template">
            <li class="col-xs-6 col-sm-3">
                <a href="#" data-target="<%= category %>" class="category-link">
                    <img class="img-responsive" src="img/<%= category %>.jpg"</img>
                </a>
            </li>
        </script> 

        <!-- Category list template -->
        <script type="text/template" id="categories-template">
            <div class="category col-md-7" data-name="<%= category %>">
                <h2><%= category %></h2>
                <p><%= categoryBlurb %></p>
                <h6>Click a group to expand for more details.</h6>
                <ul class="list-unstyled">
                    <% _.each(entities, function(entity) { %>
                        <li>
                            <a href="#" class="show-entity" data-name="<%= entity['entity'] %>" data-entity-index="<%= entity['index'] %>"><%= entity['entity'] %><% if (entity['totals']) { %><span class="text-muted">: <%= entity['totals'] %></span>
                                <% } %>
                            </a>
                            <div class="entity-details">
                            </div>
                        </li>
                    <% }); %>
                </ul>
                <a href="#" class="jump"><span>Back to top</span></a>
            </div>
        </script>

        <!-- Entity template -->
        <script type="text/template" id="entity-details-template">
            <section>
                <p><%= blurb %></p>
                <ul class="list-unstyled">
                    <% if (donor1) { %>
                        <strong>Received money from:</strong>
                        <li>
                            <a href="#" data-target="<%= donor1 %>" class="donor-link"><%= donor1 %></a> <%= donor1amt %>
                        </li>
                    <% } %>
                    <% if (donor2) { %>
                        <li>
                            <a href="#" data-target="<%= donor2 %>" class="donor-link"><%= donor2 %></a> <%= donor2amt %>
                        </li>
                    <% } %>
                    <% if (donor3) { %>
                        <li>
                            <a href="#" data-target="<%= donor3 %>" class="donor-link"><%= donor3 %></a> <%= donor3amt %>
                        </li>
                    <% } %>
                    <% if (donor4) { %>
                        <li>
                            <a href="#" data-target="<%= donor4 %>" class="donor-link"><%= donor4 %></a> <%= donor4amt %>
                        </li>
                    <% } %>
                    <% if (donor5) { %>
                        <li>
                            <a href="#" data-target="<%= donor5 %>" class="donor-link"><%= donor5 %></a> <%= donor5amt %>
                        </li>
                    <% } %>
                    <% if (donor6) { %>
                        <li>
                            <a href="#" data-target="<%= donor6 %>" class="donor-link"><%= donor6 %></a> <%= donor6amt %>
                        </li>
                    <% } %>
                </ul>
            </section>       
        </script>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="js/underscore-min.js"></script>
        <script src="js/tabletop.js"></script>
        <script type="text/javascript" src="http://assets.motherjones.com/interactives/plugins/pym.js/src/pym.js"></script>
        <script src="js/script.js"></script>
    </div>
</body>
</html>
