<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Koch Network</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="css/style.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>

</head>

<body>

    <div class="container-fluid">

        <div id="loading">
            <img class="center-block" src="img/loading.gif" />
        </div>  

        <section class="row">
            <!-- Category nav -->
            <ul id="category-nav" data-name="top" class="list-unstyled list-inline center-block"></ul>
        </section>

        <!-- Category list -->
        <section id="categories" class="row"></section>

        <footer class="text-muted small">

            <p>Note: The "Donors" information listed at the end of many blurbs includes the five family foundations and five organizations that house Koch network money: Freedom Partners, American Encore (formerly known as the Center to Protect Patient Rights), Free Enterprise America, TC4 Trust, and EvangCh4 Trust. The amounts show the sum of each donor's contributions to a recipient since its inception; these amounts may be underestimates, since many groups received contributions that have not yet shown up on tax filings.</p>
            <p>The universities listed received more than $100,000 from the Charles Koch Foundation, the Claude R. Lambe Foundation, or the David H. Koch Foundation combined since 1998. Many other schools received smaller grants.</p>
            <p>The political advocacy organizations listed received at least a total of $500,000 from all the donor groups since the donor groups were founded. Many other groups received smaller grants.</p>
            <p>The Fred C. and Mary R. Koch Foundation contributions are limited to those from 2010, 2011, and 2012 and other donations listed on the Fred C. and Mary R. Koch Foundation website.</p>
            <p>Some of David Koch's personal philanthropy has been included, along with gifts from his foundation. The list also includes some contributions from past years that have not yet shown up on tax filings, such as the $25 million contribution to the United Negro College Fund.</p>

            <strong>Additional reporting by Sam Brodey and Katie Rose Quandt.</strong>

        </footer>

        <!-- Category nav template -->
        <script type="text/template" id="category-nav-template">
            <li class="col-xs-4 col-sm-4">
                <a href="#" data-target="<%= category %>" class="category-link">
                    <img class="img-responsive" src="img/<%= category %>.jpg"</img>
                </a>
            </li>
        </script> 

        <!-- Category list template -->
        <script type="text/template" id="categories-template">
            <div class="category col-md-7" data-name="<%= category %>">
                <h2><%= category %></h2>
                <p><%= categoryBlurb %></p>
                <h5>Dollar figures show the amount each group has received from Koch network donors.</h5>
                <h6 class="text-muted">Click a group for more details.</h6>
                <ul class="list-unstyled">
                    <% _.each(entities, function(entity) { %>
                        <li>
                            <a href="#" class="show-entity" data-name="<%= entity['entity'] %>" data-entity-index="<%= entity['index'] %>"><%= entity['entity'] %><% if (entity['totals']){ %><span class="text-muted">: <%= entity['totals'] %></span>
                                <% } %>
                            </a>
                            <div class="entity-details">
                            </div>
                        </li>
                    <% }); %>
                </ul>
                <a href="#" data-target="top" class="jump"><span><strong>Back to top</span></strong></a>
            </div>
        </script>

        <!-- Entity template -->
        <script type="text/template" id="entity-details-template">
            <section>
                <p><%= blurb %></p>
                <ul class="list-unstyled">
                    <% if (donor1) { %>
                        <strong>Received money from:</strong>
                        <li>
                            <a href="#" data-target="<%= donor1 %>" class="donor-link"><%= donor1 %></a> <%= donor1amt %>
                        </li>
                    <% } %>
                    <% if (donor2) { %>
                        <li>
                            <a href="#" data-target="<%= donor2 %>" class="donor-link"><%= donor2 %></a> <%= donor2amt %>
                        </li>
                    <% } %>
                    <% if (donor3) { %>
                        <li>
                            <a href="#" data-target="<%= donor3 %>" class="donor-link"><%= donor3 %></a> <%= donor3amt %>
                        </li>
                    <% } %>
                    <% if (donor4) { %>
                        <li>
                            <a href="#" data-target="<%= donor4 %>" class="donor-link"><%= donor4 %></a> <%= donor4amt %>
                        </li>
                    <% } %>
                    <% if (donor5) { %>
                        <li>
                            <a href="#" data-target="<%= donor5 %>" class="donor-link"><%= donor5 %></a> <%= donor5amt %>
                        </li>
                    <% } %>
                    <% if (donor6) { %>
                        <li>
                            <a href="#" data-target="<%= donor6 %>" class="donor-link"><%= donor6 %></a> <%= donor6amt %>
                        </li>
                    <% } %>
                </ul>
            </section>       
        </script>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="js/underscore-min.js"></script>
        <script src="js/tabletop.js"></script>
        <script type="text/javascript" src="http://assets.motherjones.com/interactives/plugins/pym.js/src/pym.js"></script>
        <script src="js/script.js"></script>
    </div>
</body>
</html>
