<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Koch Network</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="css/style.css" rel="stylesheet" />

</head>

<body>

    <div class="container-fluid">
        <section class="row">
            <header class="col-md-8">
                <h1>The Koch Network</h1>
                <h4>Explore the vast and far-reaching influence of Charles and David Koch</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum orci arcu, non dapibus ligula pellentesque vel. Phasellus accumsan euismod ante, eu aliquet ante sodales ac. Vestibulum ultricies elit lectus, id tincidunt nibh facilisis vel. <strong>&#8212;Byline, date</strong></p>
            </header>
        </section>

        <section class="row">
            <!-- Category nav -->
            <ul id="category-nav" class="list-unstyled list-inline center-block"></ul>
        </section>

        <!-- Category list -->
        <section id="categories" class="row"></section>


        <!-- Category nav template -->
        <script type="text/template" id="category-nav-template">
            <li class="col-lg-2">
                <a href="#" data-target="<%= category %>" class="category-link">
                    <img class="img-responsive img-rounded" src="img/<%= category %>.png"</img>
                </a>
            </li>
        </script> 

        <!-- Category list template -->
        <script type="text/template" id="categories-template">
            <div class="category col-md-7" data-name="<%= category %>">
                <h2><%= category %></h2>
                <p><%= categoryBlurb %></p>
                <h4>Groups and Organizations</h4>
                <ul class="list-unstyled">
                    <% _.each(entities, function(entity) { %>
                        <li>
                            <a href="#" class="show-entity" data-name="<%= entity['entity'] %>" data-entity-index="<%= entity['index'] %>"><%= entity['entity'] %> : <span class="text-muted"><%= entity['totals'] %></span></a>
                            <div class="entity-details">
                            </div>
                        </li>
                    <% }); %>
                </ul>
                <a href="#category-nav"><span class="text-muted">Back to top</span></a>
            </div>
        </script>

        <!-- Entity template -->
        <script type="text/template" id="entity-details-template">
            <section>
                <p><%= blurb %></p>
                <ul class="list-unstyled">
                    <% if (donor1) { %>
                        <strong>Koch-Affiliated Donors:</strong>
                        <li>
                            <a href="#" data-target="<%= donor1 %>" class="donor-link"><%= donor1 %></a>: <%= donor1amt %>
                        </li>
                    <% } %>
                    <% if (donor2) { %>
                        <li>
                            <a href="#" data-target="<%= donor2 %>" class="donor-link"><%= donor2 %></a>: <%= donor2amt %>
                        </li>
                    <% } %>
                    <% if (donor3) { %>
                        <li>
                            <a href="#" data-target="<%= donor3 %>" class="donor-link"><%= donor3 %></a>: <%= donor3amt %>
                        </li>
                    <% } %>
                    <% if (donor4) { %>
                        <li>
                            <a href="#" data-target="<%= donor4 %>" class="donor-link"><%= donor4 %></a>: <%= donor4amt %>
                        </li>
                    <% } %>
                </ul>
            </section>       
        </script>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="js/underscore-min.js"></script>
        <script src="js/tabletop.js"></script>
        <script type="text/javascript" src="http://assets.motherjones.com/interactives/plugins/pym.js/src/pym.js"></script>
        <script src="js/script.js"></script>
    </div>
</body>
</html>
