/* start layer container styles */

#layerEntities {
	position: relative;
	font-family: 'Oswald', sans-serif;
}

/* end layer container styles */

/* start featured slide styles */

#entityDetails { 
	float:left;
	width: 475px;
	height: 900px;
	margin-bottom: 5px;	
	border: 1px solid #999999; 
}

#entityDetails p {
	font-family: 'Open Sans', verdana, sans-serif;
	font-size:.8em;
	line-height: 1.7em;
}

/* end featured slide styles */
/* start allEntities nav grid styles */

#allEntities {
	float:right;
}

#allEntities ul {
	margin:0;
	padding:0;
	list-style: none;
	width: 400px;
}

#allEntities a {
	display: block;
	cursor: pointer;
}

#allEntities li {
	float: right;
	width: 23%;
	height: 120px;
	background: #E4EBED;
	margin: 2px;
	word-break: break-word;
}

#allEntities li:hover, #allEntities li.active {
	background: #a7bec4;
}

#allEntities p {
	font-size: .7em;
	display: block;
	vertical-align: middle;
	padding: 10px;
	margin: 0;
	color: #000000;
}

/* end allEntities nav grid styles */

/* mobile and device styles */
@media only screen
(max-width: 568px) {
	
	#allEntities {
		font-size: 1em;
		padding-left: 0;
	}
}