/* global container styles */
.mobileOnly {
	display: none;
}
#networkContainer {
	font-family: 'Oswald', sans-serif;
	width: 100%;
}
/* end global container styles */

/* start top layer styles */
#intro {
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
}

#catNav {
	width:100%;
}

#catNav ul {	
	display: block;
	margin: 0 auto;
	padding:0;
	list-style: none;
}

#catNav a, .backToTop {
	cursor: pointer;
}

#catNav li {
	display: block;
	float: left;
	width: 9.9%;
	height: 80px;
	background: #eeeeee;
	margin: 0px;
	word-break: break-word;
}

#catNav li:hover, #catNav li.active {
	background: #a7bec4;
}

#catNav p {
	font-size: .7em;
	display: block;
	vertical-align: middle;
	padding: 10px;
	margin: 0;
	color: #000000;
}

.categoryItem img {
	margin-top: 20px;
	height: 20px;
}
/* end top layer styles */

/* start secondary layer container styles */
.sectionAnchor {
	position: relative;
	float:left;
	margin-bottom: 15px;
	width: 100%;
}
/* end secondary layer container styles */

/* start nav grid styles */
.entitiesMenu {
	float:left;
	width: 48%;
	margin:0;
	padding:0;
	list-style: none;
	display: block;
}

.entitiesMenu a {
	cursor: pointer;
}

.entitiesMenu li {
	float: left;
	width: 23%;
	height: 100px;
	margin: 2px;
	word-break: break-word;
}

.entitiesMenu li:hover, .entitiesMenu li.active {
	background: #cccccc;
}

.entitiesMenu p {
	font-size: .7em;
	display: block;
	vertical-align: middle;
	padding: 10px;
	margin: 0;
	color: #000000;
}
/* end nav grid styles */

/* start details view styles */
.featuredWrapper {
	float: right; 
	width: 48%;
	margin-bottom: 5px;	
	border: 1px solid #999999; 
	padding: 10px;
}

.featuredDetails {
	width: 100%;
}

.featuredDetails p {
	font-family: 'Open Sans', verdana, sans-serif;
	font-size:.8em;
	line-height: 1.7em;
}

.backToTop {
	float:right;
	background-color: #4C4C4A;
	border: 4px solid #ccc;
	color: #eee;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: normal;
	text-transform: uppercase;
	padding: 4px;
}
/* end details view styles */


/* mobile and device styles */
@media only screen and (max-width: 768px) {
	
	.desktopOnly {
		display: none;
	}

	.mobileOnly {
		display: block;
	}

	#intro {
		text-align: left;
	}

	#catNav li {
		margin: 0;
		width: 50%;
		text-align: center;
	}

	#networkContainer p {
		line-height: 1.6em;
	}

	.featuredWrapper {
		width: 95%;
	}

	.entitiesMenu {
		width: 100%;
	}
	
	.entitiesMenu li {
		width: 32%;
	}
}

}


