

/* global container styles */
.mobileOnly {
	display: none;
}
#networkContainer {
	font-family: 'Oswald', sans-serif;
	margin: 0 auto;
}
#networkContainer .smallCap {

}
/* end global container styles */

/* start top layer styles */
#intro {
	text-align: center;
}

#intro header p {
	padding: 0 25em;
}
#category-nav {
	text-align: center;
}
#category-nav ul {
	display:inline-block;
	padding:0;
	list-style: none;
	margin: 0;
}
#category-nav a, .backToTop {
	cursor: pointer;
}
#category-nav li {
	display: inline-block;
	margin: 1px;
	word-break: break-word;
	background: #E4EBED;
	text-transform: capitalize;
}
#category-nav li:hover, #category-nav li.active {
	opacity: .5;
}
#category-nav p {
	font-size: .7em;
	display: block;
	vertical-align: middle;
	padding: 10px;
	margin: 0;
	color: #000000;
}
.categoryItem img {
	margin-top: 20px;
	width: 20%;
}
/* end top layer styles */

/* start secondary layer container styles */
.sectionAnchor {
	position: relative;
	min-height: 30em;
}
.sectionAnchor p {
	font-family: 'Open Sans', verdana, sans-serif;
	font-size:.8em;
	line-height: 1.7em;
}
.sectionAnchor span {
	text-transform: capitalize;
	font-weight: bold;
}
#thinktank, #school, #studentgroup {
	background-color: #E8E8E8;
}
#lobbying, #media, #culture {
	background-color: #E4EBED;
}
/* end secondary layer container styles */

/* start details view styles */
.featuredWrapper {
	margin-bottom: 5px;	
	padding: 10px;
}
.featuredDetails {
}

.featuredDetails h1 {
	text-transform: capitalize;
}

.backToTop {
	color: #222;
}
/* end details view styles */

/* start nav grid styles */
.entitiesMenu {
	margin:0;
	padding:0;
	list-style: none;
	display: block;
}
.entitiesMenu a {
	cursor: pointer;
}
.entitiesMenu li {
	display: inline-block;
	margin: 1px;
	word-break: break-word;
	background: #f6f6f6;
}
.entitiesMenu li:hover, .entitiesMenu li.active {
	background: #cccccc;
}
.entitiesMenu p {
	font-size: .7em;
	display: block;
	vertical-align: middle;
	padding: 10px;
	margin: 0;
	color: #000000;
}
/* end nav grid styles */

/* mobile and device styles */
/* smartphones */
@media only screen and (max-width: 525px) {	
	.desktopOnly {
		display: none !important;
	}
	.mobileOnly {
		display: block;
	}
	#intro header p {
		padding: 0 0;
	}

	#category-nav li {
		display: block;
	}	
	.featuredWrapper {
		float: none;
		padding: none;
	}

	.sectionAnchor {
		position: relative;
		float:left;
		margin-bottom: 15px;
		padding: 0em;
	}
	.sectionAnchor p {
		font-size: 1em;
		line-height: normal;
	}
	#thinktank, #school, #studentgroup, #lobbying, #media, #culture {
		background-color: #fff;
	}
	/* start nav grid styles */
	.entitiesMenu {;
		margin:0;
		padding:0;
		list-style: none;
		display: block;
	}
	.entitiesMenu a {
		cursor: pointer;
	}
	.entitiesMenu li {
		float: none;
		width: 100%;
		margin: 1px;
		word-break: break-word;
		background: #f6f6f6;
	}
	.entitiesMenu li:hover, .entitiesMenu li.active {
		background: #cccccc;
	}
	.entitiesMenu p {
		font-size: normal;
		display: block;
		vertical-align: middle;
		padding: 0;
		margin: 0;
	}
/* end nav grid styles */	}
}
/* tablets */
@media only screen and (max-width: 850px) {

	.entitiesMenu li {

	}
}




.test {
	display: none;
}