/* global container styles */
#networkContainer {
	font-family: 'Oswald', sans-serif;
	width: 960px;
}
/* end global container styles */

/* start top layer styles */
#intro {
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
}

#catNav {
	width:100%;
}

#catNav ul {	
	display: block;
	margin: 0 auto;
	padding:0;
	list-style: none;
}

#catNav a {
	cursor: pointer;
}

#catNav li {
	display: block;
	float: left;
	width: 9.9%;
	height: 80px;
	background: #eeeeee;
	margin: 0px;
	word-break: break-word;
}

#catNav li:hover, #catNav li.active {
	background: #a7bec4;
}

#catNav p {
	font-size: .7em;
	display: block;
	vertical-align: middle;
	padding: 10px;
	margin: 0;
	color: #000000;
}

.categoryItem img {
	margin-top: 20px;
	height: 20px;
}
/* end top layer styles */

/* start secondary layer container styles */
.sectionAnchor {
	position: relative;
	float:left;
	margin-bottom: 15px;
	width: 100%;
}
/* end secondary layer container styles */

/* start details view styles */
.featuredWrapper { 
	float:left;
	width: 48%;
	margin-bottom: 5px;	
	border: 1px solid #999999; 
	padding: 10px;
}

featuredDetails {
	width: 100%;
}

.featuredDetails p {
	font-family: 'Open Sans', verdana, sans-serif;
	font-size:.8em;
	line-height: 1.7em;
}

.backToTop {
	float:right;
	background-color: #4C4C4A;
	border: 4px solid #ccc;
	color: #eee;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: normal;
	text-transform: uppercase;
	padding: 4px;
}
/* end details view styles */

/* start nav grid styles */
.entitiesMenu {
	float:right;
	width: 48%;
	margin:0;
	padding:0;
	list-style: none;
	display: block;
}

.entitiesMenu a {
	cursor: pointer;
}

.entitiesMenu li {
	float: left;
	width: 23%;
	height: 100px;
	background: #E4EBED;
	margin: 2px;
	word-break: break-word;
}

.entitiesMenu li:hover, .entitiesMenu li.active {
	background: #a7bec4;
}

.entitiesMenu p {
	font-size: .7em;
	display: block;
	vertical-align: middle;
	padding: 10px;
	margin: 0;
	color: #000000;
}
/* end nav grid styles */

/* mobile and device styles */
@media only screen
(max-width: 568px) {
	
	.entitiesMenu {
		font-size: 1em;
		padding-left: 0;
	}
}

/* mobile styles */
@media only screen and (min-width: 587px) {
	#mobile-header{
		display:none;
	}
}

@media only screen and (max-width: 586px) {
	
	span.desktopOnly {
		display:none;
	}

	p.byline, #shell960 .mobile {
		display: none;
	}

	#author {
		font-family: 'georgia',sans-serif;
		color: #5e5e5e;
		font-size: 16px;
		font-style: italic;
	}

	#shell960 {
		background: white;
		font-family: "Georgia", sans-serif;
		font-size: 1.1em;
	}

	#shell960 p {
		width: 100%;
		line-height: 1.6em;
	}	

	#shell960 a {
		color: #000000;
	}

	#shell960 .right-rail {
		float: none;
		padding: 0;
		margin: 0 auto;
		min-width: 70%;
	}

	#shell960 .captionSmall {
		border-top: none;
		margin: 0 auto;
		max-width: 100%;
		padding: .5em 0;
	}

	#shell960 .inline img, #shell960 img, #shell960 .right-rail img  {
		margin: 0 auto;
		min-width: 90%;
		max-width: 98%;
	}

	#shell960 .pullQuote {
		font-size: 1.2em;
		line-height: 1.1;
		padding: .5em;
	}

	#shell960 .blockQuote {
		margin-left: 0em;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	#mobile-header{
		display:none;
	}
	#shell960 .mobile {
		display: none;
	}
}


